
.texthead {
    position: relative;
    left:5%;
    margin:10px;
}
.table1 {
    position: relative;
    left:5%;
    margin:40px;
    width:50em;
}

.th1{
    width:5em;
}

.th2{
    width:85em;
}

